---
import '../styles/footer.scss';
const { siteName, empowermentLink, designPersonLink } = Astro.props
var { empowermentPeople, designPerson } = Astro.props
if (!!empowermentLink) empowermentPeople = `<a href="${empowermentLink}"}>${empowermentPeople}</a>`
if (!!designPersonLink) designPerson = `<a href="${designPersonLink}"}>${designPerson}</a>`
let currentYear = new Date().getFullYear()

---
<footer class="footer">
    <span>© {currentYear} {siteName}</span> | <span>Design by <span set:html={designPerson}/></span> | <span>Web empowerment by <span set:html={empowermentPeople}/></span>
</footer>